.navbar {
    background-color: transparent;
    color: white !important;
    height: 80px;
    font-family: Quantico;
    transition: 1s ease;
}

.navbar-scrolled {
    background-color: rgb(20, 26, 38);
    transition: 1s ease;
    color: white !important;
    height: 80px;
    font-family: Quantico;
}

.navbar.active {
    background-color: #17191E;
    transition: 0.1s;
    color: white;
}

.navbar-button {
    color: white;
    padding: 16px 24px;
    align-self: center;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-button:hover {
    color: white;
    background-color: #17191E;
}

.logo-title {
    font-size: 25px;
    font-weight: 700;
}